.profile-header-container {
    margin-left: 90%;
    position: fixed;
}

.profile-header-img>img.img-circle {
    width: 45%;
    border-radius: 50%;
    border: 2px solid orange;
    background-color: cadetblue;
}
