#catalogContainer {
    margin-top: 6%;
}

#addToCartForm {
    background-color: rgba(5, 108, 167, 0.63);
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    position: fixed;
}

#catalogProductPic img{
    width: 30vw;
    height: 30vh;
    margin-top: 10%;
}
