#catalogContainer {
    padding-top: 6%;
}

#catalogProductPic img {
    width     : 30vw;
    height    : 30vh;
    margin-top: 10%;
}

.item_card {
    height: 200px;
}

.item_card img {
    height: 40vh;
    box-shadow: -2px 15px 25px darkgray;
}

.item_card h4 {
    font-size: 14px;
    font-family: 'Righteous', cursive;
    text-decoration: underline;
}