.errorMessageContainer {
    text-align      : center;
    background-color: #5cb4b4;
    width           : 100vw;
    height          : 100vh;
    position        : absolute;
    z-index         : 99999;
}

.icon {
    width      : 40vw;
    text-shadow: lightblue;
}

.errorMessageContainer h1 {
    font-family: 'Righteous', cursive;
    text-shadow: linen 4px 2px 5px;
    animation  : bounce 4s infinite;
}

@keyframes bounce {
    0% {
        margin-left: -10%;
    }

    50% {
        margin-left: 10%;
    }

    100% {
        margin-left: -10%;
    }
}