#pictures_container .carousel__slide {
    background-color: #f7f7f7;
    border          : 1px solid #1d1a1a;
    height          : 35vh;
    margin-right    : 0.2%;
}

#pictures_container img {
    width       : 50%;
    height      : 100%;
    margin-left : 25%;
    margin-right: 20%;
}