.action_container {
    background-color: rgba(24, 29, 31, 0.753);
    position        : absolute;
    top             : 19%;
    margin-left            : 0.3%;
    width           : 19.8%;
    height          : 81%;
    text-align      : center;
}

.action_container i {
    color    : white;
    font-size: 5vw;
}

.icons {
    margin-top: 40%;
}

.addToCartBtn {
    background-color: transparent;
    border: none;
}